.buttonG{
    transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
   background-color: rgba(57, 193, 8, 0.7);
}
.buttonN{
    transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: rgba(78, 85, 90, 0.5);
}
.buttonB{
    transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: rgba(219, 27, 27, 0.7);
}
.buttonB:hover{
    background-color: red;
    cursor: pointer;
}
.buttonG:hover {
    background-color: green;
    cursor: pointer;
}
.buttonN:hover {
    background-color: gray;
    cursor: pointer;
}
.buttonB,
.buttonG,
.buttonN{
    outline: none;
    border: none;
    border-radius: 4px;
    width: 100px;
    padding: 10px;
}
.list{
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}
.list li:not(:last-child){
    margin-right: 10px;
}